@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

img {
    width: 100%;
    border-radius: 10px;
    max-height: 100px;
    object-fit: contain; 
}

body { 
         font-family: "Cinzel", serif;
          background-color:#FFFFFF;
          color: #421111;
          text-align: center;
       }
       p {
         font-size: 50px;
       }

       a {
         font-size: 50px;
         color: #001eff;
          text-decoration: none; 
          font-weight: 700;
       }

       a:hover {
         text-decoration: underline;
         color: #7d0e49;
         list-style-type: none;
       }  
      ul {
    list-style-type: none;
}